
.icon-minus:before { content: '\e800'; } /* '' */
.icon-minus-circled:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-cancel-circled:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-cancel-circled2:before { content: '\e805'; } /* '' */
.icon-left-open-big:before { content: '\e806'; } /* '' */
.icon-right-open-big:before { content: '\e807'; } /* '' */
.icon-up-open-big:before { content: '\e808'; } /* '' */
.icon-down-open-big:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-left-open:before { content: '\e80b'; } /* '' */
.icon-left-circled:before { content: '\e80c'; } /* '' */
.icon-right-circled:before { content: '\e80d'; } /* '' */
.icon-right:before { content: '\e80e'; } /* '' */
.icon-left:before { content: '\e80f'; } /* '' */
.icon-right-bold:before { content: '\e810'; } /* '' */
.icon-left-bold:before { content: '\e811'; } /* '' */
.icon-right-outline:before { content: '\e812'; } /* '' */
.icon-left-outline:before { content: '\e813'; } /* '' */
.icon-right-open-outline:before { content: '\e814'; } /* '' */
.icon-left-open-outline:before { content: '\e815'; } /* '' */
.icon-left-open-1:before { content: '\e816'; } /* '' */
.icon-right-open-1:before { content: '\e817'; } /* '' */
.icon-left-circle:before { content: '\e818'; } /* '' */
.icon-right-circle:before { content: '\e819'; } /* '' */
.icon-right-fat:before { content: '\e81a'; } /* '' */
.icon-left-fat:before { content: '\e81b'; } /* '' */
.icon-right-open-2:before { content: '\f006'; } /* '' */
.icon-left-open-2:before { content: '\f007'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
